.sidebar_main{
    width: 20%;
    background-color: #101827;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.sidebar_logo{
    color: whitesmoke  ;
    font-size: 30px;
    margin-top: 15px;
    text-align:center ;
   
}
.add_new{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: blue;
    border: 1px blue solid;
    padding: 8px;
    margin: 20px 20px;
    border-radius: 15px;

}
.new_chat{
    margin-left: 10px;
}

.chat_history{
    color: rgb(153, 151, 151);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.search-box {
    width: 17vw;
    margin-top: 10px;
    position: relative;
    display: flex;
      bottom: 0;
      left: 0;
      right: 0;  
  }
  
  .search-input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 10px;
    background-color: #101827;
    color: #6c6c6c;
    border-radius: 6px;
    border: #0000ff 1px solid;
    transition: all .4s;
  }
  
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 2px #0000ff;
    -moz-box-shadow: 0 1px 2px #0000ff;
    -webkit-box-shadow: 0 1px 2px #0000ff;
  }
  
  .search-btn {
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
  }

  
  .search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
  
  }
  
  .search-btn:focus {
    outline:none;
   
  }